* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


.home-page {
  width: 100vw;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1501281668745-f7f57925c3b4")
    no-repeat center center/cover;
}


.overlay {
  width: 100%;
  height: 100%;
  background: rgba(10, 15, 30, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 20px;
}

.content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.content h1 span {
  color: #38bdf8;
}

.content p {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 40px;
}


.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
}

.primary {
  background: #38bdf8;
  color: #0f172a;
}

.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 42px;
  }

  .actions {
    flex-direction: column;
  }
}
